[pull]
	rebase = true
[user]
	name = Tim Breu
	email = tim.breu@maibornwolff.de
[core]
	pager = less -+$LESS -RS
[alias]
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[init]
	defaultBranch = main
